.label-style {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 4px;
}

.text-field-style {
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
}

.button-style {
    -fx-background-color: ff4500;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
}

.button-precificar {
    -fx-background-color: #ff4500; /* mesma cor de fundo */
    -fx-text-fill: white; /* mesma cor do texto */
    -fx-padding: 5px 10px; /* ajustes no padding para deixá-lo menor */
    -fx-font-weight: bold; /* manter o texto em negrito */
 }

.transparent-button {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "SansSerif Bold";
    -fx-pref-height: 64px;
    -fx-pref-width: 117px;
}

.transparent-button:disabled {
    -fx-text-fill: grey;
    -fx-opacity: 0.7;
}

/* Estilo para o container de etapa */
.etapa-container {
    -fx-border-color: black;
    -fx-border-width: 2px; /* Borda mais grossa */
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-background-color: #f9f9f9; /* Cor de fundo suave para destacar a borda */
}

/* Estilo para o container de atividade */
.atividade-container {
    -fx-border-color: gray;
    -fx-border-width: 1px; /* Borda mais fina */
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff; /* Cor de fundo suave */
}

.text-field-transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: black; /* Define a cor do texto como preto ou a cor desejada */
    -fx-padding: 0;
}

.vbox {
    -fx-spacing: 5px;
}

/* Estilo para o container de atividades */
.etapa-container {
    -fx-border-color: #ff5722; /* Cor da borda do container */
    -fx-border-width: 2px; /* Largura da borda */
    -fx-border-radius: 5px; /* Bordas arredondadas do container */
    -fx-padding: 10px; /* Espaçamento interno */
    -fx-background-color: #f9f9f9; /* Cor de fundo do container */
}


#activityScrollPane {
    -fx-background-color: transparent; /* Torna o fundo do ScrollPane transparente */
    -fx-border-color: #ff4500; /* Cor da borda igual à cor do botão */
    -fx-border-width: 2px; /* Espessura da borda */
    -fx-border-radius: 5px; /* Bordas arredondadas */
}

#activityScrollPane .viewport {
    -fx-background-color: #FFF3E0; /* Fundo laranja claro */
}

.label-etapa {
    -fx-background-color: #FFA07A;
    -fx-border-color: #E9967A;
    -fx-border-width: 2px;
    -fx-padding: 0px; /* Remova o padding para minimizar o espaço */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-width: 100%;
}

.label-atividades {
   -fx-background-color: #FFDAB9;
   -fx-border-color: #CD853F;
   -fx-border-width: 0 0 2px 0;
   -fx-padding: 0px; /* Remova o padding */
   -fx-font-size: 12px;
   -fx-text-fill: #8B4513;
   -fx-pref-width: 90%;

}

.label-profissionais {
   -fx-background-color: #F0F0F0; /* Leve tom acinzentado */
   -fx-border-color: #A9A9A9; /* Cor da borda inferior um pouco mais escura */
   -fx-border-width: 0 0 2px 0; /* Borda apenas na parte inferior */
   -fx-padding: 3px; /* Pequeno espaçamento */
   -fx-font-size: 12px; /* Tamanho da fonte */
   -fx-font-style: italic; /* Texto em itálico */
   -fx-text-fill: #333333; /* Cor do texto levemente escura */
   -fx-pref-width: 100%; /* Preenche a largura do container */
}

.label-subtotal-atv {
   -fx-font-size: 12px; /* Tamanho da fonte um pouco maior */
   -fx-text-fill: #ff4500; /* Cor do texto em cinza escuro suave */
   -fx-font-style: italic; /* Itálico para dar ênfase */
   -fx-alignment: center-right; /* Alinha o texto à direita */
}

.label-subtotal-etp {
   -fx-font-size: 14px; /* Tamanho da fonte um pouco maior */
   -fx-text-fill: #ff4500; /* Cor do texto em cinza escuro suave */
   -fx-font-style: italic; /* Itálico para dar ênfase */
   -fx-alignment: center-right; /* Alinha o texto à direita */
}

.label-subtotal-tt {
   -fx-font-size: 16px; /* Tamanho da fonte um pouco maior */
   -fx-font-weight: bold; /* Negrito para destaque */
   -fx-text-fill: #2F4F4F; /* Cor do texto em cinza escuro suave */
   -fx-font-style: italic; /* Itálico para dar ênfase */
   -fx-alignment: center-right; /* Alinha o texto à direita */
}
  /* Estilo para o HBox que contém os elementos */
  .hbox-custos {
      -fx-padding: 5;
      -fx-spacing: 10;
      -fx-alignment: CENTER_LEFT;
  }

  /* Estilo para os rótulos */
  .label-item-custo {
      -fx-font-size: 12px;
      -fx-text-fill: #200;
      -fx-wrap-text: true; /* Permite quebra de linha no texto */
      -fx-background-color: #f0f0f0;
      -fx-padding: 5;
      -fx-border-radius: 5;
      -fx-border-color: #ccc;
      -fx-pref-height: 50px; /* Aumenta a altura para suportar múltiplas linhas */
  }

  /* Estilo para os campos de texto (quantidade, total e observação) */
  .text-field-custo {
      -fx-font-size: 10px;
      -fx-pref-height: 50px; /* Aumenta a altura dos campos */
      -fx-padding: 5;
      -fx-background-color: #fff;
      -fx-border-color: #ddd;
      -fx-border-radius: 5;
      -fx-wrap-text: true; /* Permite quebra de texto */
  }

  /* Estilo para o botão de exclusão */
  .button-excluir {
      -fx-background-color: #ff4d4d;
      -fx-text-fill: white;
      -fx-pref-width: 40px;
      -fx-pref-height: 40px;
      -fx-border-radius: 50%;
      -fx-alignment: CENTER;
      -fx-font-weight: bold;
      -fx-cursor: hand;
  }

  /* Adiciona sombra e borda ao botão quando o mouse estiver sobre ele */
  .button-excluir:hover {
      -fx-background-color: #ff1a1a;
      -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 0);
  }

  /* Ajuste de largura do VBox que contém os custos */
  .vbox-custos {
      -fx-spacing: 5;
      -fx-padding: 5;
      -fx-background-color: #f7f7f7;
      -fx-border-radius: 5;
      -fx-border-color: #ccc;
  }


.link-style {
    -fx-text-fill: lightblue; /* Cor do texto para parecer um link */
    -fx-font-style: italic; /* Estilo itálico */
    -fx-cursor: hand; /* Cursor de mão para indicar que é clicável */
    -fx-underline: true; /* Adiciona sublinhado para parecer com um link */
}

.bordered-container {
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0; /* Apenas a borda inferior */
    -fx-padding: 5 0 5 0; /* Ajuste do preenchimento */
}

.label-text {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.label-value {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-alignment: center-right; /* Alinhado à direita */
}


/* Estilo para os itens (atividades e subtotais) com linha de baixo */
.item {
    -fx-border-color: transparent transparent #ccc transparent; /* Apenas a borda inferior */
    -fx-border-width: 0 0 1px 0; /* Borda inferior de 1px */
    -fx-padding: 5px 0; /* Espaçamento entre os itens */
    -fx-max-width: Infinity; /* Permite que o item se expanda para ocupar a largura total */
}


/* Estilo para etapas, sem linha de baixo */
.etapa {
    -fx-font-weight: bold; /* Deixa a etapa em negrito */
    -fx-padding: 10px 0; /* Espaçamento maior para as etapas */
}


/* Estiliza o título do gráfico */
.chart-title {
    -fx-background-color: #dcdcdc;  /* Fundo cinza */
    -fx-padding: 5px;  /* Espaçamento interno */
    -fx-font-family: "Arial";  /* Fonte */
    -fx-font-size: 18px;  /* Tamanho da fonte */
    -fx-font-weight: bold;  /* Negrito */
    -fx-text-fill: #333333;  /* Cor do texto */
    -fx-alignment: center;  /* Centralizar o título */
}





